{% if object %}
<ul>
    <li><strong>Id</strong>: {{ object.id }}</li>
    <li><strong>Header</strong>: {{ object.header }}</li>
    <li><strong>Date</strong>: {{ object.date|date('Y/m/d') }}</li>
    <li><strong>Text</strong>: {{ object.text }}</li>
</ul>
<hr>
{% endif %}    