    <div class="alert alert-block">
        <p><strong>Warning!</strong> You see style changes from the standard AcmeDemoBundle<br>
        This is due to including bootstrap after the standard styles so it overwrites some defaults</p>
        <p>InPageEditBundle makes use of bootstrap 2.3.2 css, and js. If you mixing bootstrap with other css frameworks must be done with care</p>
        <p><strong>Using InPageEditBundle with bootstrap based themes or layouts garanties optimal behaviour!!</strong></p>
    </div>

    <p>Check if the user is logged or not, suggest login page</p>

    <p>Show page with no content, suggest add ?faker to url</p>

    <p>Suggest edition, double click...</p>