{% extends "AcmeDemoBundle:IpeDemo:layout.html.twig" %}

{% block content %}
    <h1>InPageEditBundle demo page</h1>

    {{ include('AcmeDemoBundle:IpeDemo:_shared_content.html.twig') }}

    <h2>Using orm_doctrine_mapped_entity (alias: odme) to walk a collection of Entities</h2>
    {% for foo in foos %}
    {#
        {% set find_params = {'find_by': {'id': foo.id}, 'entity_class': 'AcmeDemoBundle:Foo'} %}
        {{ ipe_render('odme', find_params, 'AcmeDemoBundle:IpeDemo:_foo.html.twig') }}
        #}
        {{ ipe_render_odme(foo, 'AcmeDemoBundle:IpeDemo:_foo.html.twig') }}
    {% endfor %}

    {{ parent() }}
{% endblock %}

{% set code = code(_self) %}
